html {
    overflow:hidden;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;

}
#header_content {
    background-color: #F2F2F2;
    font-size: 3em;
    padding: 2vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-left:2vw;
    margin-bottom: 2vw;
}
a {
    text-decoration: none;
}
.navi_links {
    color:black;
    text-decoration: none;
}
.navi_links:hover {
    color: #ff5c0f !important;
}
h1 {
    color: #20a8b4;
    margin: 2vw;
    font-size: 2em;
}
.emphasized_header {
    color: #ff5c0f;
}
.button {
    color: white;
    background-color: #20a8b4;
    text-align: center;
    border-radius: 5px;
    margin-right: 2vw;

}
.button:hover{
    background-color:#ff5c0f;
}
#contact_us {
    padding:8px;
}

#center_content {
    margin-left: 5px;
    font-size: 3em;
    padding: 15vw 2vw 0vw 1vw; 
}

#learn_more {
    display: Block;
    padding: 8px;
}
img {
    visibility: hidden;
}
