html {
    margin: 0 auto;
    display: flex;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    flex-direction: column;
}


#header_content {
    background-color: #F2F2F2;
    font-size: 3.5em;
    padding: 2vw;
}

h1 {
    color: #20a8b4;
    margin: 2vw;
    font-size: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-left:2vw;
    margin-bottom: 2vw;
}
a {
    text-decoration: none;
}
.navi_links {
    color:black;
    text-decoration: none;
}
.navi_links:hover {
    color: #ff5c0f !important;
}

.header {
    letter-spacing: -0.4px;
}
.emphasized_header {
    color: #ff5c0f;
}
.button {
    color: white;
    background-color: #20a8b4;
    text-align: center;
    border-radius: 7px;
    margin-right: 2vw;
    padding: 8px;

}
.button:hover{
    background-color:#ff5c0f;
}

#center_content {
    margin-left: 2vw;
    font-size: 3em;
    padding: 15vw 2vw 0vw 2vw; 
}

#learn_more {
    display: block;
    letter-spacing: normal;
}
img {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
        padding: 0;
        overflow: auto;
        width: 100vw;
        display: flex;
    }

    #header_content {
        background-color: #F2F2F2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0vw;
    }

    h1 {
        color: #20a8b4;
        font-size: 1em;
        margin-right: auto;

    }

    ul {
        list-style-type: none;
        font-size: .9em;
        display: flex;
        align-items: baseline;
      
    }
    li {
        margin: 0px 5px 0px 5px;
       
       
    }
    a {
        text-decoration: none;
    }
    .navi_links {
        color:black;
        text-decoration: none;
        font-size: .5em;

    }
    .navi_links:hover {
        color: #ff5c0f !important;
    }
  
    .header {
        letter-spacing: -0.4px;
    }
    .emphasized_header {
        color: #ff5c0f;
    }
    .button {
        color: white;
        background-color: #20a8b4;
        text-align: center;
        border-radius: 12px;
        padding: 10px;
        font-size: .5em;

    }
    .button:hover{
        background-color:#ff5c0f;
    }

    #center_content {
        margin-left: 2vw;
        padding: 15vw 0vw 0vw 0vw; 
    }
    h2 {
        font-size: 1em;
    }
    #learn_more {
        display: block;
        letter-spacing: normal;
    }
    img {
        visibility: visible;
    }
}